<!-- End of Main Content-->
        </div>
        
        <% include ../partials/sidebar%>
    
    </div>
</div>

<!--Footer Content-->
<div class="ui hidden divider"></div>

<div class="ui inverted vertical masthead segment">
    <div class="ui container">
        <div class="ui four column grid">
            <div class="column">
                <div class="ui list">
                  <div class="item">Home</div>
                  <div class="item">About Frugal Brewing</div>
                  <div class="item">Frugal Methods</div>
                  <div class="item">DIY</div>
                  <div class="item">Brew Logs</div>
                </div>
            </div>
            
            <div class="column">
                <div class="ui list">
                  <div class="item">Contact</div>
                  <div class="item">Facebook</div>
                  <div class="item">Twitter</div>
                  <div class="item">Instagram</div>
                  
                </div>
            </div>
            
            <div class="column">
                <div class="ui list">
                  <div class="item">Apples</div>
                  <div class="item">Pears</div>
                  <div class="item">Oranges</div>
                </div>
            </div>
            
            <div class="column">
                <div class="ui list">
                  <a href="#" class="ui huge inverted header item">ADMIN</a>
                  <div class="item">Sitemap</div>
                  <div class="item">Oranges</div>
                </div>
            </div>
            
        </div>
    </div>
</div>



</body>
</html>