<!-- Right Sidebar -->
<div id="sidebar" class="sixteen wide mobile six wide tablet four wide computer column">
  <div>
    <h2>Connect</h2>
    <p>
      <a href="http://www.facebook.com"><i class="ui facebook large icon sidebar-icon"></i></a>
      <a href="http://www.twitter.com"><i class="ui twitter large icon sidebar-icon"></i></a>
      <a href="http://www.instagram.com"><i class="ui instagram large icon sidebar-icon"></i></a>
      <a href="/contact"><i class="ui mail large icon sidebar-icon"></i></a>
    </p>    
  </div>
  
  <div class="ui divider sidebar-divider-margin"></div>
  
  <div class="ui image">
    <img src="/images/sidebar-ad.png"></img>
  </div>
  
  <div class="ui divider sidebar-divider-margin"></div>
  
  <div>
    <h2>Popular Posts</h2>
    <ul class="ui list">
      <li class="item">Example Post 1</li>
      <li class="item">Example Post 2</li>
      <li class="item">Example Post 3</li>
      <li class="item">Example Post 4</li>
    </ul>
  </div>
  
  <div class="ui divider sidebar-divider-margin"></div>
  
  <div class="ui small rectangle test ad" data-text="Small Rectangle Ad"></div>
  
  <!--<div class="ui divider"></div>-->
  
  
  
  

  
  

</div>
