<!-- Social Share Segment -->
<div class="ui segment">
    <div class="ui tiny header">
        Share
    </div>
    <div class="socialshares" data-title="<%= blog.title %>" data-text="<%= blog.title %>" data-theme="light-monotone">
        <div class="socialshares-twitter ui icon button"></div>
      <div class="socialshares-facebook ui icon button"></div>
      <div class="socialshares-reddit ui icon button"></div>
      <div class="socialshares-pinterest ui icon button"></div>
      <div class="socialshares-email ui icon button"></div>
    </div>
</div>