<% include ../partials/header %>

<div class="ui header">About</div>

<p>NodeBlog is a relatively simple blog system created by Clayton Ingalls. It is built on Node, Express, MongoDB, and Semantic UI. It was originally built as a platform for a homebrewing blog, but could be used for pretty much anything.</p>
<p>It has permissions for admin and author users. Admins can pretty much edit and delete anything while authors may only create new content and edit their own content.</p>
<p>There is a simple comment system. It requires filling out a form, but not signing in. A login system could be built similarly to the admin/author system. Or something like Disqus could be plugged in as an alternative.</p>


<% include ../partials/footer %>