<% include ../partials/header %>

<div class="ui header">How to Contribute</div>
<p>If you want to contribute to this site, write us and tell us what you'd like to contribute.</p>

<% include ../partials/footer %>