<% include ../partials/header %>

<h1 class="ui header">Contact Us</h1>

<!-- <form class="ui equal width form" action="/contact" method="POST"> -->
  <!-- Use the above line instead of the below line for a working form -->
<form class="ui equal width form">
    
    <div class="fields">
        <div class="required field">
        <label>Name</label>
        <input name="contact[name]" placeholder="Your Name" type="text" required>
      </div>
  
      <div class="field">
        <label>Phone Number</label>
        <input name="contact[phone]" placeholder="Phone Number" type="tel">
      </div>
    </div>    
  
  
  <div class="required field">
    <label>Email</label>
    <input name="contact[email]" placeholder="Email" type="email" required>
  </div>
  
  
  <div class="field">
    <label>Subject</label>
    <input name="contact[subject]" placeholder="Subject" type="text">
  </div>
  
  <div class="required field">
    <label>Message</label>
    <textarea name="contact[message]" placeholder="Your message - we're excited to hear from you." type="text" required></textarea>
  </div>
  
  <div class="required field">
    <div class="ui checkbox">
      <input name="contact[realperson]" tabindex="0" type="checkbox" required>
      <label>I'm a real person</label>
    </div>
  </div>
  
  <button class="ui button" type="submit">Send</button>
  
</form>

<% include ../partials/footer %>