<% include ../partials/header%>

            <h1>Create a new blog post</h1>
            <form class="ui form" action="/content" method="POST">
                <div class="field">
                    <input name="blog[title]" placeholder="title" type="text"></input>
                </div>
                <div class="field">
                    <input name="blog[author]" placeholder="author" type="text"></input>
                </div>
                <div class="field">
                    <input name="blog[image]" type="text" placeholder="Link to image"></input>
                </div>
                <div class="field">
                    <textarea name="blog[content]" placeholder="Blog content here."></textarea>
                </div>
                <button class="ui submit button" type="submit">Submit</button>
            </form>
       
<% include ../partials/footer%>