<% include ../partials/header %>

<h1>Resources</h1>

<div class="ui bulleted list">
  <div class="item">Resource 1</div>
  <div class="item">Resource 2</div>
  <div class="item">Resource 3</div>
</div>



<% include ../partials/footer %>