<% include partials/header %>

<h1>The soon to be admin page</h1>
<ul>
    <li><a href="/admin/user/new">Create New User</a></li>
    <li><a href="/content/new">Create New Post</a></li>
</ul>

<% include partials/footer %>