<% include partials/header %>

<h1>Admin page</h1>

<a class="ui icon green button" href="/content/new"><i class="write icon"></i>Create New Post</a>

<div class="ui hidden divider"></div>

<% if(currentUser.permission == 'admin') { %>

<a class="ui icon button" href="/admin/user/new"><i class="user icon"></i>Create New User</a>
<a class="ui icon button" href="/admin/user"><i class="user outline icon"></i><i class="text cursor icon"></i>  Edit User</a>

<% } %>

<% include partials/footer %>