<% include partials/header %>

<h1>Users</h1>

<div class="ui middle aligned divided list">
    <% users.forEach(function(user) { %>
  <div class="item admin-user">
    <div class="content">
      <div class="header"><%= user.name %></div>
      <a class="ui mini green button" href="/admin/user/<%= user.id %>/edit">Edit</a>
      <form id="delete-post" action="/admin/user/<%= user.id %>?_method=DELETE" method="POST">
         <button class="ui mini grey button">Delete</button>
     </form>
    </div>
  </div>
  <% }) %>
</div>


<% include partials/footer %>