html {
  font-size: 16px;
}

body {
  font-size: 1rem;
}


#header-img {
  margin-top: 2.5rem;
  margin-bottom: 2rem;
  width: 100vw;
}

#main-menu {
  background-color: white;
  font-size: 1rem;
}

.red-outline {
  border: 1px red dashed;
}

#sidebar {
  font-size: 1rem;
}

.ui.large.icon.sidebar-icon, a i.ui.large.icon.sidebar-icon {
  font-size:  2.5rem;
  color: rgba(0,0,0,.87);
}

.post-header {
  margin-bottom: 0;
}

.ui.header.post-header {
  margin-bottom: 0;
}

.post-content {
  font-size: 1rem;
}

.post-meta {
  font-size: .75rem;
  color: rgba(0,0,0,.4);
  height: 1rem;
}

.post-meta a {
  color:rgba(0,0,0,.4);
}

#delete-post{
  display: inline;
}

form.delete-comment, form.edit-button {
  display:inline;
}

.post-meta-margin {
  margin-right: 1.5rem;
}

.ui.card .meta, .ui.cards > .card .meta {
  font-size: 0.75rem;
}

.ui.comments {
  max-width: 100%
}

.ui.comments .comment.light-comment-background {
  background-color: #fbfbfb;
}

.hidden {
  visibility: hidden;
  
}

.ui.divider.sidebar-divider-margin{
  margin: 2rem auto;
}

.ui.list .list > .item a, .ui.list > .item a {
  color: rgba(255,255,255,.9);
}

.cat-tags{
  color: rgba(34,36,38,.3);
  
}

.cat-tags a {
  color: rgba(34,36,38,.3);
}

